@import '../../../shared/types.css';
@import '../../../shared/shared.css';

.containerMainCard {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    min-width: 535px;
    padding: 3%;
    border-radius: 3%;
}

.headerMainCard {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.type {
    border-radius: 5px;
    color: var(--white);
    filter: brightness(.9);
    margin-bottom: 10px;
    text-align: center;
    width: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  
  .pokemonTypeTitle {
    text-transform: capitalize;
  }

  .types {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .pokemonImageCard img {
    max-height: 400px;
  }