:root {
    --white: #fff;
    --grass-green: #78c84f;
    --fire-red: #f08030;
    --water-blue: #6890f0;
    --electric-yellow: #f9d030;
    --normal-gray: #a7a877;
    --ghost-purple: #705998;
    --flying-purple: #a890f0;
    --poison-purple: #9f419f;
  }
