.firstContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.secondContainer {
    justify-content: center;
    width: 100%;
    margin: 2%;
    align-items: flex-start;
}

.descriptionContainer {
    max-width: 500px;
}