:root {
  --white: #fff;
  --grass-green: #78c84f;
  --fire-red: #f08030;
  --water-blue: #6890f0;
  --electric-yellow: #f9d030;
  --normal-gray: #a7a877;
  --ghost-purple: #705998;
  --flying-purple: #a890f0;
  --poison-purple: #9f419f;
}

.App {
  align-items: flex-start;
  background-color: #fff7e8;    
  display: flex;
  justify-content: center;    
  min-height: 100vh;
  width: 100vw;
}

.appContainer {
  width: 1080px;
}

.appHeader {
  margin-left: 30px;
  margin-top: 50px;
}

.pokedexContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemonCard {
  color: var(--white);
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  width: 275px;
}

.grass {
  background-color: var(--grass-green);
}

.fire {
  background-color: var(--fire-red);
}

.water {
  background-color: var(--water-blue);
}

.electric {
  background-color: var(--electric-yellow);
}

.ghost {
  background-color: var(--ghost-purple);
}

.flying {
  background-color: var(--flying-purple);
}

.poison {
  background-color: var(--poison-purple);
}

.normal {
  background-color: var(--normal-gray);
}

.cardHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.cardTitle {
  text-transform: capitalize;
}

.cardBody {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.pokemonType {
  border-radius: 5px;
  color: var(--white);
  filter: brightness(.9);
  margin-bottom: 10px;
  text-align: center;
  width: 80px;
}

.pokemonTypeTitle {
  text-transform: capitalize;
}

.pokemonImage img {
  height: 130px;
  width: 130px;
}

.searchBar {
  background-image: url(https://img.icons8.com/ios/344/search--v1.png);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 28px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  color: #4e4d50;
  font-size: 16px;
  outline: 0;
  padding: 17px 17px 17px 50px;
  width: 315px;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  margin-left: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
